body{
	font-family: sans-serif;
	background-image : url(library.jpg);
}
.tableDesign table,th,td{
	font-size: 20px;
	font-weight: 900;
	border: 1px solid white;
	border-collapse: collapse;
}
.tableDesign h1{
	color: white;
	background-color:#0f4b88;
}
.tableDesign th,td,h1,h2,h3{
	text-align: center;
}
.tableDesign td{
	padding: 16px;
}